<html>
{% for banco in banco %}
        <div>
            <h3><a href="">{{ banco.nombre }}</a></h3>
            <p>seguro: ${{ banco.seguro }}</p>
            <p>gatos: ${{ banco.gastos }}</p>
            <p>cae: {{banco.cae}}%</p>

        </div>
    {% endfor %}
<p><span style="font-size:24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; simulador de creditos</span></p>

<p>monto</p>

<p><input name="monto" type="text" />ej. 3000000</p>

<p>meses</p>

<p><input name="meses" type="text" /> 2-48 meses</p>

<p><input name="seguro desgravamen" type="checkbox" />seguro desgravamen</p>

<p><input name="simular" type="button" value="simular" /></p>

<p>&nbsp;</p>





</html>

